{% url 'home' as home_url %}
{% url 'vendor-list' as vendor_list_url %}
{% url 'category-list' as category_list_url %}
{% url 'subcategory-list' as subcategory_list_url %}
{% url 'unit-list' as unit_list_url %}
{% url 'product-list' as product_list_url %}
{% url 'purchase-list' as purchase_list_url %}
{% url 'warehouse-list' as warehouse_list_url %}
{% url 'customer-list' as customer_list_url %}
{% url 'sale-list' as sale_list_url %}
{% url 'purchase-product-sale-list' as purchase_product_sale_list_url %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.path == vendor_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'vendor-list' %}">Vendor<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == category_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'category-list' %}">Category</a>
        </li>
        <li class="nav-item {% if request.path == subcategory_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'subcategory-list' %}">Sub-Category</a>
        </li>
        <li class="nav-item {% if request.path == unit_list_url %} active {% endif %}">
            <a class="nav-link" href="{% url 'unit-list' %}">Units</a>
        </li>
        <li class="nav-item {% if request.path == product_list_url %} active {% endif %}">
            <a class="nav-link" href="{% url 'product-list' %}">Product</a>
        </li>
        <li class="nav-item {% if request.path == purchase_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'purchase-list' %}">Purchase</a>
        </li>
        <li class="nav-item {% if request.path == warehouse_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'warehouse-list' %}">Warehouse</a>
        </li>
        <li class="nav-item {% if request.path == customer_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'customer-list' %}">Customer Details</a>
        </li>
        <li class="nav-item {% if request.path == sale_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'sale-list' %}">Sales</a>
        </li>
        <li class="nav-item {% if request.path == purchase_product_sale_list_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'purchase-product-sale-list' %}">Purchase Product Sale</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>